extends layout

block content
  main.inner.cover(role='main')
    h1.cover-heading TRIVIA FRANCO FERNANDEZ IROUME
    p.lead texto test
    p.lead texto test
      a.btn.btn-lg.btn-secondary(href='/play') JUGA!
  
