extends layout

block content
  main.inner.cover(role='main')
    h1.cover-heading NO ESTAS AUTORIZADO
    p.lead Ingrese con un usuario y contraseña, por favor.
    p.lead
      a.btn.btn-lg.btn-secondary(href='/login') Login  
